In [60]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [61]:
my_data = pd.read_csv("clevBinary.csv", delimiter=",")
my_data[0:5]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [62]:
my_data.shape

(297, 14)

In [63]:
my_data.size

4158

In [64]:
X = my_data[['age', 'sex', 'cp','trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']].values
X[0:5]

array([[ 63. ,   1. ,   1. , 145. , 233. ,   1. ,   2. , 150. ,   0. ,
          2.3,   3. ,   0. ,   6. ],
       [ 67. ,   1. ,   4. , 160. , 286. ,   0. ,   2. , 108. ,   1. ,
          1.5,   2. ,   3. ,   3. ],
       [ 67. ,   1. ,   4. , 120. , 229. ,   0. ,   2. , 129. ,   1. ,
          2.6,   2. ,   2. ,   7. ],
       [ 37. ,   1. ,   3. , 130. , 250. ,   0. ,   0. , 187. ,   0. ,
          3.5,   3. ,   0. ,   3. ],
       [ 41. ,   0. ,   2. , 130. , 204. ,   0. ,   2. , 172. ,   0. ,
          1.4,   1. ,   0. ,   3. ]])

In [65]:
y = my_data["num"]
y[0:5]

0    0
1    1
2    1
3    0
4    0
Name: num, dtype: int64

In [66]:
from sklearn.model_selection import train_test_split

X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [67]:
X_trainset.shape

(207, 13)

In [68]:
X_testset.shape

(90, 13)

In [69]:
HeartTree = DecisionTreeClassifier(criterion="gini", max_depth = 4)
HeartTree # it shows the default parameters

DecisionTreeClassifier(max_depth=4)

In [70]:
HeartTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(max_depth=4)

In [71]:
predTree = HeartTree.predict(X_testset)

In [72]:
print (predTree [0:5])
print (y_testset [0:5])

[0 1 1 0 0]
84     0
31     1
38     1
25     0
260    0
Name: num, dtype: int64

In [73]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.8111111111111111